@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.3s;
}

.font-2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.shape-1 {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 100%, 0% 100%)
}

.shape-2 {
    clip-path: polygon(0% 0%, 60% 0%, 75% 40%, 100% 40%, 100% 80%, 40% 100%, 30% 60%, 0% 60%);
}
  
.flip {
    transform: rotateY(180deg);
}

.flip-flip {
    transform: rotateY(180deg) rotateX(180deg);
}

.reverse-flip {
    transform: rotateX(180deg);

}

@layer utilities {

    .w-extra-250 {
        width: calc(100vw + 250px);
    }
    
    .w-minus-250 {
        width: calc(100vw - 250px);
    }
}
